*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#vidéo_asana{
    z-index: -1;
    position: fixed;
    opacity: 0.5;
    width: 100%;
}

#logo_nav{
    margin: 45px;
    padding: 0;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
#logo_nav:hover{
    filter: grayscale(1);
    -webkit-filter: grayscale(0.1);
}

#logo_central{
    display: flex;
    justify-content: center;
}
#gif_nav{
    width: 800px;
    height: auto;
}

main {
    position: absolute;   
    background-image: url(img/asana_background_main.png);
    width: 1920px;
}

#h1_main{
    margin-top: 500px;
    font-family: 'Cabin', sans-serif;
    font-size: 72px;
    color: white;
    margin-left: 254px;
    margin-bottom: 70px;
}

.img_txt{
    display: flex;
    justify-content:center;
    
}

#h2_text{
    width: 700px;
    margin-left: 90px;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: white;
}

#img_art1{
    width: 800px;
}

#h2_art{
    font-family: 'Cabin', sans-serif;
    font-size: 45px;
    color: white;
    margin-bottom: 50px;
}
#foot_art1{
    margin-top: 50px;
    width: 700px;
    margin-left: 150px;
    margin-bottom: 300px;
}

#h2_text_2{
    width: 700px;
    margin-left: 90px;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: black;
}
#h2_art_2{
    font-family: 'Cabin', sans-serif;
    font-size: 45px;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
}
footer{
    position: fixed;
}
#foot_art2{
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    opacity: 0.8;

}
#bouton_ggstore{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 400px;
    top : 450px;
    opacity: 0.7;
}

#bouton_ggstore:hover{
    opacity: 1;
}

#bouton_appstore{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 80px;
    top : 450px;
    opacity: 0.7; 
}

#bouton_appstore:hover{
    opacity: 1;
}



#img_art2{
    width: 800px;
    cursor: -webkit-zoom-in;
  cursor: zoom-in;
}